.ManualAttendances-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.ManualAttendances-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 50%;
}

.ManualAttendances-filter-card {
    margin-bottom: 20px;
}

.ManualAttendances-view-card {
    width: 100%;
}

.ManualAttendances-card h2 {
    margin-bottom: 20px;
    color: #4e73df;
    font-size: 1.25rem;
}

.ManualAttendances-card form label {
    display: block;
    margin-bottom: 10px;
    color: #5a5c69;
    font-size: 0.8rem;
}

.ManualAttendances-card form label input,
.ManualAttendances-card form label select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ManualAttendances-card form button {
    background-color: #4e73df;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.list-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #5a5c69;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #4e73df;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.navigation-buttons button:not(:last-child) {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e3e6f0;
}

table thead th {
    text-align: left;
    padding: 12px;
    background-color: #f8f9fc;
    border-bottom: 2px solid #e3e6f0;
}

table tbody td {
    padding: 12px;
    border-bottom: 1px solid #e3e6f0;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.entries-showing,
.table-navigation {
    font-size: 0.9em;
    color: #5a5c69;
}

.entries-showing select,
.navigation-buttons button {
    height: 38px;
}

@media screen and (max-width: 768px) {
    .ManualAttendances-container {
        flex-direction: column;
    }

    .ManualAttendances-card {
        width: 90%;
    }
}