.policies-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.policies-card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.add-policies-card {
    width: 30%; 
}

.list-policies-card {
    width: 65%;
}

.policies-card h2 {
    margin-bottom: 20px;
}

.policies-card form label {
    display: block;
    margin-bottom: 10px;
}

.policies-card form label input,
.policies-card form label select,
.policies-card form label textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.policies-card form button {
    background-color: #4e73df;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-buttons button {
    background-color: #4e73df;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    text-align: left;
    padding: 10px;
    background-color: #f8f9fc;
    border-bottom: 2px solid #e3e6f0;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #e3e6f0;
}

table tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}

.policies-card form label input[type="file"] {
    border: none;
    padding: 0;
}

table thead th, table tbody td {
    text-align: left;
}

.policies-card form button,
.navigation-buttons button {
    background-color: #4e73df;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.navigation-buttons button:not(:last-child) {
    margin-right: 10px;
}

.policies-card form button[type="submit"] {
    display: block;
    width: 100%;
}

.table-navigation span {
    font-size: 0.9em;
}

.policies-card form label {
    font-weight: normal;
    color: #5a5c69;
    font-size: 0.8rem;
}

.search-box input {
    width: 200px;
}

.entries-showing,
.table-navigation {
    font-size: 0.9em;
    color: #5a5c69;
}

.policies-card form select,
.navigation-buttons button,
.entries-showing select {
    height: 38px;
}

.policies-card h2 {
    color: #4e73df;
    font-size: 1.25rem;
}

table {
    margin-top: 20px;
    border: 1px solid #e3e6f0;
}

table thead {
    background-color: #f8f9fc;
}

table thead th {
    padding: 12px;
    border-bottom: 2px solid #e3e6f0;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}

table tbody td {
    padding: 12px;
    border-bottom: 1px solid #e3e6f0;
}
