.advance-salary-container{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    background-color: #ffffff;
}

.advance-salary-label{
    display: flex;
}

.advance-salary-label button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    margin-left: auto;
}

.advance-salary-label button:hover{
    background-color: #0069d9;
    border-color: #0062cc;
}

