.payroll-list-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin-bottom: 30px;
}

.payroll-list-card.form-group {
    margin-bottom: 0;
}

.payroll-list-card label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .payroll-list-card .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .payroll-list-card .search-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .payroll-list-card .search-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  @media (max-width: 768px) {
    .payroll-list-card {
      flex-direction: column;
    }
  
    .payroll-list-card .form-group {
      width: 100%;
      margin-bottom: 15px;
    }
  
    .payroll-list-card .search-button {
      width: 100%;
    }
  }

.payroll-table {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
}

.payroll-table-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.payroll-table-label {
    display: flex;
}


.payroll-table-label input[type="search"] {
    padding: 5px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    margin-left:auto;
}

.payroll-table-pagination {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    
}
  
.payroll-table-pagination button {
    padding: 5px 15px;
    margin-left: 5px;
    background-color: #f7f7f7;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    cursor: pointer;
}
