.competencies-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
  
.tabs {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
  
.tab {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
}
  
.tab.active {
    color: white;
    background-color: #4e73df;
}
  
.competency-cards-container {
    display: flex;
    justify-content: space-between;
}
  
.competencies-card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
  
.add-category-card {
    width: 30%;
    margin-right: 20px;
}
  
.list-categories-card {
    width: 65%;
}
  
.competencies-card h2 {
    margin-bottom: 20px;
    color: #4e73df;
    font-size: 1.25rem;
}
  
.competencies-card form label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    color: #5a5c69;
    font-size: 0.8rem;
}
  
.competencies-card form label input,
.competencies-card form label select,
.competencies-card form label textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 38px;
}
  
.competencies-card form button {
    background-color: #4e73df;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    width: 100%;
}

.list-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.search-box input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e3e6f0;
}
  
table thead th {
    text-align: left;
    padding: 12px;
    background-color: #f8f9fc;
    border-bottom: 2px solid #e3e6f0;
}
  
table tbody td {
    padding: 12px;
    border-bottom: 1px solid #e3e6f0;
}
  
table tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}
  
table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
  
.navigation-buttons button {
    background-color: #4e73df;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.table-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #5a5c69;
}

@media (max-width: 768px) {
    .add-category-card,
    .list-categories-card {
      width: 100%;
    }
}