.GoalsCalendar-container {
    font-family: 'Arial', sans-serif;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.GoalsCalendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}
  
.GoalsCalendar-legend {
    display: flex;
}
  
.GoalsCalendar-legend-item {
    display: inline-block;
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 10px;
    color: white;
    font-size: 0.85rem;
}
  
.GoalsCalendar-not-started {
    background-color: #f0ad4e;
}
  
.GoalsCalendar-in-progress {
    background-color: #5bc0de;
}
  
.GoalsCalendar-completed {
    background-color: #5cb85c;
}
  
.GoalsCalendar-navigation .GoalsCalendar-nav-button, .GoalsCalendar-today-button {
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
  
.GoalsCalendar-today-button {
    border: 1px solid #cccccc;
    border-radius: 15px;
}
  
.GoalsCalendar-calendar {
    border: 1px solid #cccccc;
    border-top: none;
}
  
.GoalsCalendar-month-year {
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
}
  
.GoalsCalendar-weekdays {
    display: flex;
    background-color: #f9f9f9;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}
  
.GoalsCalendar-weekdays div {
    flex: 1;
    text-align: center;
    font-weight: bold;
}
  
.GoalsCalendar-days {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
  
.GoalsCalendar-day {
    width: 14.28%;
    height: 120px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
  
.GoalsCalendar-day:nth-child(7n) {
    border-right: none;
}
  