.goaltype-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.goaltype-card {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
}

.add-goaltype-card {
    width: 30%;
    margin-top: -10px;
}

.list-goaltype-card {
    width: 65%;
    margin-left: 20px;
}

.goaltype-card h2 {
    margin-bottom: 20px;
    color: #4e73df;
    font-size: 1.25rem;
    position: relative;
}

.goaltype-card h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e3e6f0;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.goaltype-card form label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    color: #5a5c69;
    font-size: 0.8rem;
}

.goaltype-card form label input,
.goaltype-card form label select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 38px;
}

.goaltype-card form label input[type="text"] {
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e6f0;
}

.goaltype-card form button[type="submit"] {
    background-color: #4e73df;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: auto;
    border-top: 2px solid #e3e6f0;
}

.list-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

.table-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #5a5c69;
}

.navigation-buttons button {
    background-color: #4e73df;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e3e6f0;
}

table thead th {
    text-align: left;
    padding: 12px;
    background-color: #f8f9fc;
    border-bottom: 2px solid #e3e6f0;
}

table tbody td {
    padding: 12px;
    border-bottom: 1px solid #e3e6f0;
}

table tbody tr:nth-child(even) {
    background-color: #f8f9fc;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}
