.TrackGoals-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
  
.TrackGoals-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.TrackGoals-title {
    margin: 0;
}
  
.TrackGoals-headerRight {
    display: flex;
    align-items: center;
}
  
.TrackGoals-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
  
.TrackGoals-entries {
    display: flex;
    align-items: center;
}

.TrackGoals-entries-select {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
  
.TrackGoals-divider {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 10px 0;
}
  
.TrackGoals-search-container {
    display: flex;
}
  
.TrackGoals-search-input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
  
.TrackGoals-body {
    overflow-x: auto;
}
  
.TrackGoals-table {
    width: 100%;
    border-collapse: collapse;
}
  
.TrackGoals-table thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
  
.TrackGoals-table tbody td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.TrackGoals-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.TrackGoals-showing {
  margin-right: auto;
}

.TrackGoals-pagination {
  display: flex;
  align-items: center;
}

.TrackGoals-btn-pagination {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.TrackGoals-btn-pagination.TrackGoals-active {
  background-color: #007bff;
  color: white;
}

.TrackGoals-btn {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-left: 5px;
}

.TrackGoals-btn-primary {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.TrackGoals-progressBar {
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.TrackGoals-progress {
  height: 20px;
  border-radius: 4px;
  background-color: #28a745;
  text-align: center;
  line-height: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .TrackGoals-header,
  .TrackGoals-headerRight,
  .TrackGoals-controls,
  .TrackGoals-body,
  .TrackGoals-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .TrackGoals-headerRight,
  .TrackGoals-controls {
    width: 100%;
  }

  .TrackGoals-entries,
  .TrackGoals-entries-select,
  .TrackGoals-search-container,
  .TrackGoals-search-input,
  .TrackGoals-btn-primary {
    width: 100%;
    margin-top: 10px;
  }

  .TrackGoals-footer {
    align-items: center;
  }

  .TrackGoals-pagination .TrackGoals-btn-pagination {
    width: 100%;
    margin-top: 10px;
  }
}
  