.trainers-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    background-color: #ffffff;
}

.trainers-header {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e4e8;
}

.trainers-header button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    margin-left: auto;
}

.trainers-header button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.trainers-header h2 {
    font-weight: bold;
}

.trainers-label {
    display: flex;
    padding: 10px;
}

.trainers-label input {
    padding: 5px;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    margin-left:auto;
}